* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

section {
    height: 100vh;
    overflow: hidden;
    background: #333333;
}

section span {
    position: absolute;
    pointer-events: none;
    background-size: cover;
    animation: animacion 6s linear forwards;
}

@keyframes animacion {
    0% {
        transform: translateY(-250px);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(1000%);
        opacity: 0;
    }
}